body {
    background-color: #F0EBE5;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
#return-btn {
    min-width: 32px;
    padding: 0;
    padding-bottom: 3px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #B89F7B;
    border-radius: 50px;
    border: 2px solid #B89F7B;

}
input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #B89F7B; 
    background-color: #E3BC86;
    color: #F0EBE5;
}
#input-title-el {
    width: 40%;
    margin-bottom: 10px;
}
input:focus {
    border: 3px solid #86693f;
    border-radius: 4px;
    outline: none;
}
input::placeholder {
    position: absolute;
    bottom: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
    color: white;
}

button {
    color: #B89F7B;
    font-weight: bold;
    border: 1px solid #B89F7B;
    margin-top: 5px;
    padding: 10px 20px;
    background: #F0EBE5;
    cursor: pointer;
    transition: 0.2s all;
}
.close-button {
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 5px;
}
button:active {
    transform: scale(0.90);
    /* Scaling button to 0.90 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#delete-btn {
    color: white;
    background-color: #B89F7B;
    border: 1px solid #86693f;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li {
    margin-top: 5px;
}
a {
    color: #86693f;
}